@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">First Inputs</hl>
    <p>Here is the first form to be submitted:</p>

    <form method="POST">
        <!-- Here is a text box -->
        <label for="firstNameInput">First Name:</label>
        <input asp-for="firstNameInput" class="item" type="text"
            id="firstNameInput" name="firstNameInput" placeholder="Jane Doe">
        <div><span asp-validation-for="firstNameInput" class="text-danger"></span></div>
        <br></br>

        <!-- Here is a menu -->
        <label for="emailAddressInput">Email:</label>
        <input asp-for="emailAddressInput" class="item" type="text"
               id="emailAddressInput" name="emailAddressInput" placeholder="JaneDoe@AwesomeChamplain.edu">
        <br /><span asp-validation-for="emailAddressInput" class="text-danger"></span>
        <br></br>
      
        <!-- The button to submit -->
        <button type="submit" class="form-textbox">Submit</button>
        <br></br>
    </form>
        
    <div class="text-left">
        Your Selections
        <br></br>
        First Name: @Model.firstName
        <br></br>
        Email: @Model.emailAddress
    </div>
</div>
